= f.input :income
= f.input :address_years
= f.input :marital_status, collection: t('marital_status_list'), prompt: 'Select an option'
= f.input :dependents_number
= f.input :company_name
= f.input :company_years
= f.input :company_phone_number
= f.input :requested_amount
= f.input :payment_terms, collection: t('payment_terms_list'), prompt: 'Select an option'
= f.input :bank
= f.input :comment
= f.input :has_sgmm
= f.input :has_imss
= f.input :has_car