!!!
%html
  %head
    %title Requisitions
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand{ href: link_for_navbar } Requisitions
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-large'
    .container{ role: 'main'}
      - if notice.present?
        %p.notice= notice
      - if alert.present?
        %p.alert= alert
      = yield

      = content_for :javascript_onbody